.menu {
    margin-left: 0;
    list-style-type: none;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: #ff0000;
    font-style: normal;
    align-items: center;
    text-transform: uppercase;
    width: 620px;
    height: 15px;
    margin-left: 330px;
    margin-top: 31.5px;
    word-spacing: 18px;
}

.menu a {
    color: #ff0000;

}

.menu li {
    display: inline;
}

.image {
    width: 1280px;
    height: 789px;
    margin-top: 35px;
    background: url(canon.jpg);
}

h2 {
    text-transform: uppercase;
    display: flex;
    font-family: 'Montserrat';
    line-height: 27px;
    align-items: flex-end;
    margin-left: 253px;
    width: 774px;
    height: 29px;
    text-align: center;
    margin-top: 70px;
}
.paragraph-1 {
    margin-left: 67.5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 1145px;
    height: 132px;
    margin-top: 20px;
}
.paragraph-2 {
    margin-left: 67.5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 1145px;
    height: 216px;
    margin-top: 20px;
}

button {
    background-color: #ff0000;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2px;
    align-items: center;
    margin-left: 555px;
    padding: 10px 13px;
    border: none;
    text-align: center;
    display: inline-block;
}

footer {
    width: 462px;
    height: 38px;
    margin-left: 820px;
    font-family: 'Montserrat';
    font-size: 11px;
    letter-spacing: 2.4px;
    margin-top: 29px;
}